appdirs==1.4.4
astroid==2.5.1
atomicwrites==1.4.0; sys_platform == "win32"
attrs==20.3.0
aws-sam-translator==1.35.0
aws-xray-sdk==2.6.0
boto==2.49.0
boto3==1.17.33
botocore==1.20.33
certifi==2022.12.7
cffi==1.14.5
cfn-lint==0.24.8
chardet==4.0.0
click==7.1.2
colorama==0.4.4; sys_platform == "win32" or platform_system == "Windows"
coverage==5.5
cryptography==3.4.6
distlib==0.3.1
docker==4.4.4
ecdsa==0.14.1
filelock==3.0.12
flake8==3.9.0
flask==1.1.2
flask-pymongo==2.3.0
future==0.18.2
idna==2.10
importlib-metadata==3.7.3; python_version < "3.8"
importlib-resources==5.1.2; python_version < "3.7"
isort==4.3.21
itsdangerous==1.1.0
jinja2==2.11.3
jmespath==0.10.0
jsondiff==1.2.0
jsonpatch==1.32
jsonpickle==2.0.0
jsonpointer==2.1
jsonschema==3.2.0
lazy-object-proxy==1.5.2
markupsafe==1.1.1
mccabe==0.6.1
mock==4.0.3
more-itertools==8.7.0
moto==1.3.16
packaging==20.9
pluggy==0.13.1
py==1.10.0
pyasn1==0.4.8
pycodestyle==2.7.0
pycparser==2.20
pyflakes==2.3.0
pylint==2.7.2
pymongo==3.11.3
pyparsing==2.4.7
pyrsistent==0.17.3
pytest==5.4.3
pytest-cov==2.11.1
python-dateutil==2.8.1
python-jose==3.2.0
pytz==2021.1
pywin32==227; sys_platform == "win32"
pyyaml==5.4.1
requests==2.25.1
responses==0.13.1
rsa==4.7.2
s3transfer==0.3.6
six==1.15.0
toml==0.10.2
tox==3.23.0
typed-ast==1.4.2; implementation_name == "cpython" and python_version < "3.8"
typing-extensions==3.7.4.3; python_version < "3.8"
urllib3==1.26.5
virtualenv==20.4.3
wcwidth==0.2.5
websocket-client==0.58.0
werkzeug==1.0.1
wrapt==1.12.1
xmltodict==0.12.0
zipp==3.4.1
